<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{pageTitle}}</title>
</head>
<body>
    {{!-- Here, we can add a header w/ navigation that can be used throughout our program --}}
    <header>
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/projects">Projects</a>
    </header>