{{> header}}
<h1>{{pageTitle}}</h1>
<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eligendi enim explicabo debitis! Fuga rem nisi, ad pariatur
    reprehenderit odio, molestias fugit, beatae consequatur mollitia tempore. Itaque deserunt voluptatibus voluptate
    nobis omnis sapiente excepturi? Eos aut odio neque pariatur, distinctio quasi recusandae suscipit nostrum, molestiae,
    ad labore rerum id asperiores ipsam.</p>
{{> footer}}