{{> header}}
<h1>{{pageTitle}}</h1>
{{!-- Below, we are using the 'helper' that we want to pass an argument to.  In the case of hbs, we use the helper name then a space followed by the data we want to use as the argument --}}
<h2>{{screamIt welcome}}</h2>
{{!-- the below syntax is how you add a partial to a template file. You need the double curly braces and inside use a greater than symbol followed by the name of the partial file w/o extension --}}
{{> footer}}